sample_asdf_data/F106_WFI1_MJD60627.5_inject_cal.asdf filter=lfs diff=lfs merge=lfs -text
ricksim_data/SNPIT_VISIT606900000_WFI10_F087_L2.asdf filter=lfs diff=lfs merge=lfs -text
ricksim_data/TRUTH_VISIT606900000_WFI10_F087_L1.dat.gz filter=lfs diff=lfs merge=lfs -text
